@import '../abstract/chip_stack-defs'
@import '../abstract/cards-defs'
@import '../page/page-defs'

$l-player-column-count: 3

@mixin player($position: 1)
  @include zen-grid-item(2, $position)
  @include zen-grid-container

  .held_player_information
    @include parent_grid($l-player-column-count)
    @include zen-grid-item($l-player-column-count, 1)
    @include zen-nested-container

    @include soft_edges(transparent)

    height: 110px

    $l-held_player_information-column-count: 5
    $l-held_player_information-gutter-width: $original-zen-gutter-width/2

    .name
      @include parent_grid($l-held_player_information-column-count, $l-held_player_information-gutter-width)
      @include zen-grid-item($l-held_player_information-column-count, 1)

      font-size: $c-font-size-primary*1.3
      color: #fff
    .hole_cards
      @include parent_grid($l-held_player_information-column-count, $l-held_player_information-gutter-width)
      @include zen-grid-item(3, 1)
      @include zen-clear
      @include cards
    .player_stack
      @include parent_grid($l-held_player_information-column-count, $l-held_player_information-gutter-width)
      @include zen-grid-item(2, 4)
      .chip_stack
        @include chip_stack(#ff9900)
  &.acting_player
    .held_player_information
      @include soft_edges(#ff0)
  .outer_player_information
    @include parent_grid($l-player-column-count)
    @include zen-grid-item($l-player-column-count, 1)
    @include zen-nested-container

    // @todo Not quite sure where the extra 3px come from, maybe border on the chip...
    height: $chip_stack_diameter + 3px

    $l-outer_player_information-column-count: 3

    .dealer_button
      @include parent_grid($l-outer_player_information-column-count)
      @include zen-grid-item(1, 1)
      padding: 0

      $dealer_button_font_size: $c-font-size-primary - 3
      $dealer_button_diameter: ceil($chip_stack_diameter/1.5)
      @include align_text_center_horizontally_and_vertically($dealer_button_diameter, $dealer_button_font_size)
      @include raised_border
      @include circular_border_radius
      @include align_center_vertically($dealer_button_diameter, $chip_stack_diameter)

      font-size: $dealer_button_font_size
      color: #000
      font-weight: bold

      height: $dealer_button_diameter
      width: $dealer_button_diameter

      background-color: #fff
    %stack_associated_with_pot
      @include parent_grid($l-outer_player_information-column-count)
      @include zen-grid-item(2, 2)
    .stack_added_to_pot
      @extend %stack_associated_with_pot
      .chip_stack
        @include chip_stack(#aa0142)
    .stack_taken_from_pot
      @extend %stack_associated_with_pot
      .chip_stack
        @include chip_stack(#001eb7)