.chip_balances {
  padding: 0;
  margin: 0;

  position: relative;
  display: inline-block;

  z-index: 1;

  .right {
    float: right;
    margin-left: 8px;
  }

  .table {
    margin-bottom: 0;
  }

  h1, h2, h3, h4 {
    padding-left: 8px;
    padding-right: 8px;
  }
}