//-------------------------------------
//  Base
//-------------------------------------

html
  font-size: rem($base-fontSize)

body
  background-color: $base-background-color
  background-image: $base-background-image
  color: $base-color
  font-family: $base-fontFamily
  font-size: 100%
  line-height: $base-lineHeight

footer
  text-align: center

.navbar
  margin: 0

.hidden
  @extend %noSize

.help-inline
  font-weight: 900
  font-size: rem($base-fontSize * 0.9)
.help-block
  font-size: rem($base-fontSize * 0.75)
  color: gray
.license
  font-size: rem($base-fontSize * 0.75)
.form-horizontal
  select
    font-size: rem($base-fontSize * 0.9)

// ----- Block Content ----- //

p
  font-size: rem($base-fontSize)

// ----- Inline Content ----- //

a
  color: $base-link-color
  text-decoration: none
  &:hover,
  &:focus
    text-decoration: underline
  img
    border: none