
@import '../page/page_defs';
@import 'held_player_information_defs';
@import '../abstract/information_container/information_container_defs';

.held_player_information {
   height: $held_player_information_height;
   width: $held_player_information_width;
   
   padding: $information_container_padding;
   
   display: block;
   
   * {
      display: block;
   }
}
