@import 'compass';
@import 'card-defs';

@import '../page/page-defs';

@mixin set_card_color($color) {
   @include soft_edges($color);
   @include raised_border;

   $dark_color: darken($color, $card_color_variation_amount);
   $light_color: lighten($color, $card_color_variation_amount);
   @include background-image(linear-gradient(top, $light_color, $dark_color));

   .suit {
      color: darken($color, $card_color_variation_amount);
   }
}

$card_padding: 10px;

@mixin align_top {
   line-height: 1;
   // margin-top: $card_padding;
}

.card {
   @include zen-grid-container;

   $blank_card_color: #01b0b0;
   @include set_card_color($blank_card_color);

   * {
      @include box-sizing(border-box);
   }

   height: $card_height;
   width: $card_width;

   position: relative;

   $top_row_height: $card_height / 1.7;

   $card-column-count: 3;
   @include parent_grid($card-column-count);

   .top_left_rank {
      @include zen-grid-item(1, 1);
      @include align_top;

      font-size: $c-font-size-primary*1.5;
   }
   .suit {
      @include zen-grid-item(2, 2);
      @include align_top;

      text-align: right;

      font-size: $c-font-size-primary*3;
   }
   .bottom_right_rank {
      @include zen-grid-item($card-column-count, 1);
      @include zen-clear;

      line-height: 2;

      text-align: right;
      font-size: $c-font-size-primary*3.5;
   }
   @include background-image(linear-gradient(top left, darken($blank_card_color, 25%), $blank_card_color));

   .logo {
      @include zen-grid-item(1, 1);
      @include zen-clear;
      @include box-sizing(border-box);

      // Include card logo like this:
      @include background-image(image-url('nick_morrill/chip_background.foggy.jpg'));

      height: $card_height;
      width: $card_width;

      $logo_radius: $card_width - 2 * $card_padding;
      margin-left: $card_padding;
      margin-right: $card_padding;
      background-size: $logo_radius;
      background-repeat: no-repeat;
      margin-top: ($card_height - $logo_radius) / 2;
   }
}

.card#c {
   @include set_card_color(#107010);
}
.card#d {
   @include set_card_color(#2020A0);
}
.card#h {
   @include set_card_color(#B00101);
}
.card#s {
   @include set_card_color(#303030);
}