@import 'toolbar_defs';

.toolbar {
   @extend ul.horizontal;
   @include primary_element_color;
   @include soft_edges(#111, $toolbar_border_width);
   
   width: 100%;
   height: $toolbar_height;
   
   padding: $toolbar_padding;
   
   z-index: 1;
   
   overflow: visible;
   display: table-row;   
   
   * {
      position: relative;
      top: 0;
      float: left;
      
      * {
         float: none;
      }
   }
   
   .match_information {
      margin: 0;
   }
   .button {
      height: $toolbar_height;
   }
}
