
$wager_amount_slider_width: 275px;
$wager_amount_slider_height: 38px;
$wager_amount_slider_padding_right: 20px;
$wager_amount_slider_padding_bottom: 10px;
$wager_amount_slider_combined_height: $wager_amount_slider_height + $wager_amount_slider_padding_bottom;
$wager_amount_slider_combined_width: $wager_amount_slider_width + $wager_amount_slider_padding_right;
