
$information_container_padding: 6px;
$information_container_formatting_combined_width: 2*$information_container_padding;
$information_container_formatting_combined_height: 2*$information_container_padding;

$information_container_text_margin: $default_primary_font_size/2;
