@import '../../page/page_defs';
/*@import '../mixins';*/
@import 'information_container_defs';

.information_container {
   @include soft_edges($default_border_color);
   
   padding: $information_container_padding;

   color: $default_primary_text_color;
   
   .title { 
      @extend h2;
      font-weight: bold;

      margin-top: $information_container_padding;
      margin-right: $information_container_padding;
      margin-bottom: $information_container_padding;
   }
   
   select {
      @include block_interface_element;
   }
   
   input, select, .button {
      font-size: $default_primary_font_size;
   }
}
