@import '../../page/page_defs';
@import 'information_container_defs';

.information_container {
   @include soft_edges($default_border_color);
   
   padding: $information_container_padding;

   color: $default_primary_text_color;
   
   .title { 
      @extend h4;
      font-weight: bold;

      margin: 0;
   }
   
   input, select {
      font-size: $default_primary_font_size;
   }
}
