:javascript
  ChipStackMutator.adjustAmountFontSizeOfAllStacks();
  // Must come before change in focus code and as late into loading the page as possible
  // to make sure the window fits exactly as expected.
  GameInterface.adjustScale();