:javascript
  function updateState() {
    return $(".#{update_state_html_class}").submit();
  };
  function nextHand() {
    return $(".#{update_id}").submit();
  };
  function submitAction(action) {
    $("#poker_action").val(action);
    return $(".take_action").submit();
  };
  function isBlank(str) {
    return (!str || /^[\"\'\s]*$/.test(str));
  }