:javascript
  function updateState() {
    return $(".#{update_state_html_class}").submit();
  };
  function nextHand() {
    return $(".#{update_id}").submit();
  };
  function submitAction(action) {
    return sendAndLog(
      ws,
      JSON.stringify(
        {
          request: "#{ApplicationDefs::PLAY_ACTION_REQUEST_CODE}",
          match_id: "#{@match_view.match.id}",
          action: action
        }
      )
    );
  };