.held_player_information
  .name= "#{player['name']}"
  .hole_cards
    = render partial: 'cards', locals: { cards: player['hole_cards'] }
  .player_stack
    / A player's chip contributions can only be negative if chips have been given to the player, so adjust for that
    = render partial: 'chip_stack', locals: { amount: (player['chip_stack'] - player['winnings']).to_i }