:javascript
  rt.finishedUpdating("#{match_view.slice_index}");

= render partial: game_interface_partial('index')
= render partial: 'layouts/navbar', locals: {partial: navbar_partial('index')}
= render partial: hud_partial('index')

- if !next_hand_button_visible?
  - if (match.slices.length - 1) > match_view.slice_index
    :javascript
      if (rt.updateQueue.isEmpty()) {
        rt.updateQueue.push();
      }
      rt.updateState();
  - else
    :javascript
      // There may be an update from the backend since the previous
      // request read from the database, check if another update is necessary.
      if (!rt.updateQueue.isEmpty()) {
        rt.updateState();
      }