= render partial: game_interface_partial('index')
= render partial: 'layouts/navbar', locals: {partial: navbar_partial('index')}
= render partial: hud_partial('index')

- if next_hand_button_visible?
  :javascript
    Realtime.finishedUpdating(false);
- elsif stale_slice?
  :javascript
    if (!Realtime.finishedUpdating()) {
      Realtime.forceUpdateState();
    }
- else
  :javascript
    Realtime.finishedUpdating();