%p= "Game started"

%script{:type => 'text/javascript', :src => 'js/swfobject.js'}
%script{:type => 'text/javascript', :src => 'js/FABridge.js'}
%script{:type => 'text/javascript', :src => 'js/web_socket.js'}
:javascript
   function init() {
      function debug(string) {
         var element = document.getElementById("debug");
         var p = document.createElement("p");
         p.appendChild(document.createTextNode(string));
         element.appendChild(p);
      }

      var Socket = "MozWebSocket" in window ? MozWebSocket : WebSocket;
      var ws = new Socket("ws://localhost:8080/");
      ws.onmessage = function(evt) { debug("Message: " + evt.data); };
      ws.onclose = function() { debug("socket closed"); };
      ws.onopen = function() {
         debug("connected...");
         ws.send("hello server");
         ws.send("hello again");
      };
   };
:javascript
   init();
