- if match_view.slice.match_ended?
  :javascript
    $(".#{leave_match_button_html_class}").click(function() {
      return $(".#{nav_leave_html_class}").click();
    })
    $(".#{leave_match_button_html_class}").focus();
- elsif next_hand_button_visible?
  :javascript
    $(".#{next_hand_id}").focus();
- else
  :javascript
    if (Modernizr.inputtypes.number)
      wagerAmountField().focus();