%ul.nav
  %li
    = link_to leave_match_label, leave_match_url, {remote: true, class: nav_leave_html_class, data: { confirm:  leave_match_confirmation_message, disable_with: leave_match_label }}
  %li.dropdown
    %a.dropdown-toggle{:data => {:toggle => "dropdown"}, role: 'button', :href => "#"}= 'Hotkeys <b class="caret"></b>'.html_safe
    %table.table.table-striped.dropdown-menu.dropdown_table{role: 'menu'}
      %thead
        %tr
          %th Action
          %th Key
      %tbody
        %tr
          %td Fold
          %td A
        %tr
          %td Check / Call
          %td S
        %tr
          %td Bet / Raise
          %td D
        %tr
          %td Next Hand
          %td F
        %tr
          %td Leave Match
          %td Q