
// @todo fix this
%ul.player_information
   - if !hand_ended && player_whose_turn_is_next == player['name']
      #acting_player
         = render partial: 'player', locals: {player: player,
            player_with_the_dealer_button: @player_with_the_dealer_button,
            player_who_submitted_small_blind: @player_who_submitted_small_blind, 
            player_who_submitted_big_blind: @player_who_submitted_big_blind,
            player_whose_turn_is_next: @player_whose_turn_is_next}
   - else
      #not_acting_player
         = render partial: 'player', locals: {player: player,
            player_with_the_dealer_button: @player_with_the_dealer_button,
            player_who_submitted_small_blind: @player_who_submitted_small_blind, 
            player_who_submitted_big_blind: @player_who_submitted_big_blind,
            player_whose_turn_is_next: @player_whose_turn_is_next}
