@import '../player_information/player_information_defs';
@import '../community_information/community_information_defs';

$community_information_margin: 2*$vertical_buffer;
$community_information_combined_height: $community_information_height +
   2*$community_information_margin;
$community_information_combined_width: $community_information_width;

$poker_table_height: $community_information_combined_height +
   2*$player_information_combined_height;
$poker_table_border_width: 7px;
$poker_table_combined_height: $poker_table_height + 2*$poker_table_border_width;
$poker_table_width: $community_information_combined_width + 200px;
$poker_table_combined_width: $poker_table_width + 2*$poker_table_border_width;