- if match_view.match_ended?
  :javascript
    $(".#{PlayerActionsHelper::LEAVE_MATCH_BUTTON_HTML_CLASS}").click(function() {
      return rt.leaveMatch();
    })
    $(".#{PlayerActionsHelper::LEAVE_MATCH_BUTTON_HTML_CLASS}").focus();
- elsif next_hand_button_visible?
  :javascript
    $(".#{PlayerActionsHelper::NEXT_HAND_ID}").focus();
- else
  :javascript
    wagerAmountField().focus();