-#%h1= title
%hr
%p= button "2 Player Limit", join_two_player_limit_url, "two_player_limit", :amount_field => true #:remote => true, 'data-prompt' => 'Port number provided by dealer:', 'data-prompt-callback' => 'updateVoidComment', :with => "'port_number='+port_number"
-#%p= button_to "2 Player no-limit", join_two_player_no_limit_url, :remote => true
-#%p= button_to "3 Player limit", join_three_player_limit_url, :remote => true
-#%p= button_to "3 Player no-limit", join_three_player_no_limit_url, :remote => true
%hr
%p= button_to "Go back", root_url, :remote => true

= hidden_game_parameter_form
