
@import 'button_defs';

@mixin button_layout {
   padding-left: 0;
   padding-right: 0;
   text-align: center;
   
   overflow: hidden;
}

.button {
   //@include block_interface_element;
   //@include button_layout;
   //font-family: $default_font_family;
   //width: $button_width;
}
