@import 'button_defs';

@mixin button_layout {
   padding-left: 0;
   padding-right: 0;
   text-align: center;
   
   overflow: hidden;
}

.poker_action_button {
   //@include block_interface_element;
   //@include button_layout;
   //font-family: $default_font_family;
   //width: $button_width;
  //width: auto;
  height: $button_height;

  font-size: $button_font_size;
  white-space: normal;
}
