// @todo Remove dead code

@import '../abstract/off_table_container/off_table_container';
@import '../button/button_defs';
@import 'action_dashboard_defs';

$container_background_color: #003300;

.action_dashboard {
  $background_color: #ffbb55;
  $dark_background_color: darken($background_color, 30%);
  @include soft_edges($dark_background_color);
  @include background-image(linear-gradient(top,
                                            $background_color,
                                            $dark_background_color));

  padding-top: 1em;
  padding-bottom: 0;
  margin: 0;

  .action_modification_tools {
    @include box-sizing(content-box);

    .hidden_action_forms {
      #user_poker_action_modifier {
        font-size: 17px;
      }
    }
  }
  .meta_action {
    a {
      @extend button;
      @extend .btn;
      @extend .btn-info;
      @extend .btn-block;
      @extend .poker_action_button;

      padding-top: floor((91px - 24px)/ 2.0);
      text-decoration: none;
    }
  }
}

.action_dashboard#no_limit {
  height: $action_dashboard_no_limit_height;

  .button#with_modifier {
    height: $action_height - $action_field_combined_height;
  }
}