//%h1= title
%hr
%p= button_to "2 Player limit", new_two_player_limit_url, :remote => true
//%p= button_to "2 Player no-limit", new_two_player_no_limit_url, :remote => true
//%p= button_to "3 Player limit", new_three_player_limit_url, :remote => true
//%p= button_to "3 Player no-limit", new_three_player_no_limit_url, :remote => true
%hr
%p= button_to "Go back", root_url, :remote => true

= hidden_game_parameter_form
