@import 'container_defs';

.container {
  @include center_horizontally;

  height: 0;
  width: 100%;

  background-color: black;
  
  word-wrap: break-word;
   
  .game_interface {
    position: absolute;
  }
}