@import 'container_defs';

.container {
   @include center_horizontally;
   
   height: $container_height;
   width: 100%;
   
   word-wrap: break-word;
   
   .game_interface {
      position: absolute;
   }
}
