/*@import '../mixins';*/
@import 'container_defs';

.container {
   @include center_horizontally;
   
   height: $container_height;
   width: 100%;
   
   word-wrap: break-word;
   
   .toolbar {
      position: fixed;
      top: $toolbar_top;
      left: $toolbar_left;
   }
   
   .game_interface {
      position: absolute;
   }
}
