@import '../game_interface/game_interface_defs';

$container_height: $poker_table_bottom;
$container_combined_height: $container_height;
$container_width: $poker_table_right;
$container_combined_width: $container_width;

// $container_background: image-url('nick_morrill/chip_background.foggy.jpg');