%footer
  %h5= link_to 'Report issues or make requests', ApplicationHelper::ISSUE_TRACKER
  .license= link_to "Copyright \u00A9 2011-2014 by the Computer Poker Research Group, University of Alberta.", 'http://poker.cs.ualberta.ca/'
  .license= link_to 'Design and implementation by Dustin Morrill, 2011-2014', 'https://github.com/dmorrill10/'
  .license= '<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">Chip background and table felt</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://imakethingspretty.ca/" property="cc:attributionName" rel="cc:attributionURL">Nicholas Morrill</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>'.html_safe