:javascript
  $('.modal-backdrop').remove();

.poker
  = render partial: 'layouts/navbar', locals: { partial: nil }
  .match_start
    = render partial: 'match_start/new_exhibition_match'
  = render partial: MatchStartHelper::FOOTER
