:javascript
  $('.modal-backdrop').remove();
  console.log('_index');

.poker
  = render partial: 'layouts/navbar', locals: { partial: nil }
  .panel.panel-default
    .match_start.panel-body
      = render partial: 'match_start/new_exhibition_match'
    .panel-footer
      = render partial: MatchStartHelper::FOOTER
