#rejoin_match_form
  = form_tag rejoin_match_url, remote: true, class: 'form-horizontal' do
    .control-labels
      %label.control-label.required= '<abbr title="required">*</abbr> Match name'.html_safe
    .controls
      = text_field_tag 'match_name', '', required: true
    .form-actions
      - rejoin_match_label = 'Rejoin match'
      = submit_tag rejoin_match_label, class: 'btn btn-primary', data: { disable_with: rejoin_match_label }, id: 'rejoin_match'