.poker
  = render partial: "layouts/navbar", locals: { partial: nil }
  .loading
    .hero-unit
      .header-info Please wait for players to connect to the dealer...
      .header-info This could take a minute or two...
      .header-info Please do not reload the page.
      %h5 If the table does not appear in ten minutes (after all human players have connected), please log an issue <a href='#{ApplicationDefs::ISSUE_TRACKER}' target='#'>here</a> detailing your exact situation (date and time, system and browser, match setup, and your observations).
    .hidden= hidden_begin_match_form
    = render partial: ApplicationDefs::FOOTER