.community_information
  .board_cards
    = render partial: poker_table_partial('cards'), locals: {cards: match_view.state.community_cards.flatten}
  .pot
    / @todo Assumes Doyle's game in multi-player
    - if !match_view.hand_ended? && match_view.pot_at_start_of_round > 0
      = render partial: poker_table_partial('chip_stack'), locals: { amount: match_view.pot_at_start_of_round.to_i }
