.poker_table
  :javascript
    ChipStackMutator.adjustAmountFontSizeOfAllStacks();
  = render partial: poker_table_partial('opponents')
  = render partial: poker_table_partial('community_information')
  = render partial: poker_table_partial('user')