/*@import '../mixins';*/
@import '../abstract/list/list_defs';
@import '../abstract/list/list';
@import '../dealer_button/dealer_button_defs';
@import '../player_information/player_information';
@import '../held_player_information/held_player_information_defs';
@import '../abstract/cards/cards_defs';
@import '../chip_stack/chip_stack_defs';
@import 'table_defs';


.table {
   @include soft_edges(#8B4513, $default_border_width, 500px 500px 500px 500px);
   
   padding: 0;
  
   background: image-url('nick_morrill/small_felt.jpg');

   height: $table_height;
   width: $table_width;
   
   .chip_stack_wrapper {
      @include chip_stack_size;
   }
   .player_stack {
      @extend .chip_stack_wrapper;
   }
   .pot_associated_stack {
      @extend .chip_stack_wrapper;
   }
   
   .information_about_an_opponent {
      @extend .player_information;
      @include center_horizontally;
      
      margin-top: 0;
      margin-bottom: 0;
      
      .card {
         margin-right: $cards_margin;
      }
      
      .pot_associated_stack {
         top: $list_element_margin;
      }
      
      .player_stack {
         bottom: $card_bare_image_height;
      }
      
      .dealer_button {
         top: $held_player_information_combined_height + $default_border_width;
         left: 0;
      }
   }
   
   .community_information {
      margin-top: $community_information_margin;
      margin-bottom: $community_information_margin;
   }
   
   .users_information {
      @extend .player_information;
      @include center_horizontally;
      
      .held_player_information {
         position: absolute;
         top: $chip_stack_diameter + $list_element_margin;
         
         .player_stack {
           bottom: ($held_player_information_height + $chip_stack_diameter)/2;
         }
      }
      
      .dealer_button {
         top: $chip_stack_diameter - $dealer_button_diameter;
         left: 0;
      }
   }
}
