function replace_container_contents() {
   $('.container').remove();
   - content = escape_javascript(render :partial => 'player_actions/index');
   $('body').html('<div id="container">#{content}</div>');
}