$l-action_dashboard-column-count: 6

.action_dashboard
  $zen-column-count: $l-action_dashboard-column-count
  @include zen-grid-container

  $background_color: #ffbb55
  $dark_background_color: darken($background_color, 30%)
  @include soft_edges($dark_background_color)
  @include background-image(linear-gradient(top, $background_color, $dark_background_color))

  .meta_action
    a
      @extend button
      @extend .btn-info
      @extend .poker_actn_btn

      text-decoration: none

  .wager_amount-num_field
    @include zen-grid-item(2, 5)
    input
      float: right
      margin-bottom: 0
      margin-top: 10px