.match_start
  @extend %centerHorizontally
  @extend %centerVertically

  $match_start_num_grid_items: 12

  // $match_start_height: 780px
  // height: $match_start_height

  background-color: white

  $l-match_start-padding: 20px

  // Magically makes the box expand to its contents
  overflow: auto

  .matches-in-progress
    // $matches-in-progress_height: $match_start_height
    // $matches-in-progress_width: 600px

    //width: $matches-in-progress_width
    //height: $matches-in-progress_height

    $matches-in-progress_font-size: 12px
    font-size: $matches-in-progress_font-size
    overflow: auto

    padding: $l-match_start-padding

    .right
      float: right
      margin-left: 8px
    .table
      margin-bottom: 0

      // $spectate_button_width: 50px
      tr
        th
          text-align: center
          font-size: $matches-in-progress_font-size + 2
          padding: 2px
          min-width: 80px
        td
          text-align: center
          padding: 2px
          min-width: 80px
        td:first-child
      //    width: ($matches-in-progress_width - $spectate_button_width)/2.0
        td:first-child + td
        //  width: ($matches-in-progress_width - $spectate_button_width)/2.0
        td:first-child + td + td
          form
            width: auto
            margin: 0
          input
            // width: $spectate_button_width
            font-size: $matches-in-progress_font-size - 2
  .play_button_box
    $play_button_box_height: 100px

    padding: $l-match_start-padding

    form
      padding: 0
      margin: 0
      height: auto
      width: auto
      .form-actions
        padding: 0
        margin: 0
        height: auto
        width: auto
    .btn
      font-size: rem(20px)
      height: $play_button_box_height