@import 'action_dashboard/action_dashboard-defs'

.wager_amount-slider
  @include grid-item(2, 1, $l-action_dashboard-column-count)

  $l-wager_amount-slider-column-count: 1

  @include zen-nested-container

  margin-bottom: $zen-gutter-width

  .slider_labels
    @include grid-item($l-wager_amount-slider-column-count, 1, $l-wager_amount-slider-column-count)

    $num_labels: 6

    @include zen-nested-container

    @for $n from 1 through $num_labels
      .slider_label:nth-child(#{$num_labels}n+#{$n})
        @include grid-item(1, $n, $num_labels)
    .slider_label
      text-align: left
      &.half_pot
        padding-left: 3%
      &.three_quarters_pot
        padding-left: 5%
      &.one_pot
        padding-left: 7%
      &.two_pot
        text-align: right
    .slider_label:last-child
      text-align: right
  .slider
    @include grid-item($l-wager_amount-slider-column-count, 1, $l-wager_amount-slider-column-count)

    $l-slider-column-count: 1

    @include zen-grid-container
    @include zen-clear

    position: relative

    .ui_slider
      @include grid-item($l-slider-column-count, 1, $l-slider-column-count)

      $ui_slider_second_color: #006CCC
      .ui-slider-handle
        background-image: none
        background-color: $ui_slider_second_color
      .ui-slider-range
        background-image: none
        background-color: $ui_slider_second_color