@import 'dynamic_menu_defs';

.dynamic_menu {
   $border_color: #111;
   @include primary_element_color;
   
   * {
      display: block;
   }
   .dynamic_menu {
      margin-left: $default_primary_font_size;
   }
   .transparent_wrapper {
      margin: 0;
      padding: 0;
      border: none;
      background: none;
   }
   
   .item {
      padding: $item_padding;
   }
   .title {
      @extend .item;
      @include soft_edges($border_color, $dynamic_menu_border_width);
      
      cursor: pointer;
      font-weight: bold;
   }   
   .leaf_item {
      @extend .item;
      margin-left: 5px;
   }
}