@import 'sassy-buttons';

@mixin align_center($width_of_item_to_center, $width_of_item_in_which_to_center) {
   position: absolute;
   left: ($width_of_item_in_which_to_center - $width_of_item_to_center)/2;
}

@mixin set_image_size($height, $width) {
   height: $height;
   width: $width;
}

@mixin no_size {
   padding: 0;
   margin: 0;
   height: 0;
   width: 0;
}

$default_list_element_margin: 2px;
@mixin default_list_element_formatting {
   display: block;
   margin-bottom: $default_list_element_margin;
   margin-top: 2 * $default_list_element_margin;
   word-wrap: break-word;
}

$default_border_radius: 5px 5px 5px 5px;
$default_border_width: 10px;
@mixin soft_edges($border_color:transparent, $border_radius:$default_border_radius) {
   border-color: $border_color;
   border-width: $default_border_width;
   border-style: solid;/*@todo Make this a chalky/particled style.*/
   border-radius: $default_border_radius;
}

$default_primary_font_size: 12px;
$default_primary_text_color: #fffeff;
$default_border_color: #fff;
$default_container_padding: 6px;
$default_container_margin: 0;

@function combined_container_length($functional_length, $border_width: $default_border_width, $padding: $default_container_padding, $margin: $default_container_margin) {
   @return $functional_length + 2 * $border_width + 2 * $padding + 2 * $margin;
}

$background_color: #000;
$no_buffer: 0 0 0 0;
/* @todo still useful contrast-color($background_color)*/

@mixin shiny($border_color, $default_primary_text_color) {
   /*@include background-image(linear-gradient(scale-lightness($background_color, 10), $background_color));*/
   
   color: $default_primary_text_color;
}

@mixin container_formatting {
   padding: $default_container_padding;
   margin: $default_container_margin;
}

@mixin button() {
   $light_button_color: scale-lightness($background_color, 20);
   $dark_button_color: scale-lightness($background_color, 10);
   $disabled_button_color: #808080;
   $disabled_text_color: scale-lightness($disabled_button_color, 50);
   /* @todo This could be useful: input[type=checkbox]*/
   input.button, select {
      @include sassy-button('shiny', 5px, 15px, $light_button_color, $dark_button_color, $default_primary_text_color);
   }
   input.button:disabled, select:disabled {
      @include sassy-button('simple', 5px, 15px, $disabled_button_color, $disabled_button_color, $disabled_text_color, 'inset', false);
   }
}

/*Card defs*/
$card_height: 450px;
$card_width_height_ratio: 2.0/3.0;
$card_width: $card_width_height_ratio * $card_height;
$correction_for_vertical_card_margin: -(157.0/300.0) * $card_width;
$correction_for_horizontal_card_margin: $card_width_height_ratio * $correction_for_vertical_card_margin;
$bare_card_image_height: $card_height + 2 * $correction_for_vertical_card_margin;
$bare_card_image_width: $card_width + 2 * $correction_for_horizontal_card_margin;
$card_margin: 25px;
$hole_cards_width: 2 * ($bare_card_image_width + $card_margin);

$vertical_buffer: 20px;
$horizontal_buffer: $vertical_buffer * 2;

/*Match button*/
$button_diameter: $card_width/5;
$button_buffer: 10px;
$button_list_height: $button_diameter + $button_buffer;
$button_list_width: 2 * ($button_diameter + $button_buffer);

/*Player information defs*/
$player_information_height: $bare_card_image_height + 200px;
$combined_player_information_height: combined_container_length($player_information_height, $default_border_width, 0);
$player_information_width: $hole_cards_width + $button_list_width;
$combined_player_information_width: combined_container_length($player_information_width, $default_border_width, 0);

/*Poker chip*/
$poker_chip_diameter: $button_diameter * 1.5;

/*Pot*/
$pot_height: $poker_chip_diameter;
$combined_pot_height: combined_container_length($pot_height, 0, $default_container_padding);
$pot_width: $poker_chip_diameter;
$combined_pot_width: combined_container_length($pot_width, 0, $default_container_padding);

/*Summary information*/
$summary_information_height: 100px;
$summary_information_width: 250px;

/*Board cards*/
$board_cards_width: 5 * ($bare_card_image_width + $card_margin);

/*Community information defs*/
$community_information_height: $bare_card_image_height;
$combined_community_information_height: combined_container_length($community_information_height, $default_border_width, $default_container_padding);
$community_information_width: $combined_pot_width + $summary_information_width + $board_cards_width;
$combined_community_information_width: combined_container_length($community_information_width, $default_border_width, $default_container_padding);

/*Table*/
$table_height: 2 * $combined_player_information_height + $combined_community_information_height + 2 * $vertical_buffer;
$table_width: $combined_community_information_width + 300px;

/*Match information*/
$match_information_height: 400px;
$combined_match_information_height: combined_container_length($match_information_height, $default_border_width, $default_container_padding);
$match_information_width: 300px;
$combined_match_information_width: combined_container_length($match_information_width, $default_border_width, $default_container_padding);

/*Action dashboard*/
$action_dashboard_height: 200px;
$combined_action_dashboard_height: combined_container_length($action_dashboard_height, $default_border_width, $default_container_padding);
$action_dashboard_width: 200px;
$combined_action_dashboard_width: combined_container_length($action_dashboard_width, $default_border_width, $default_container_padding);

$app_background_color: #515250;

/*Page*/
$page_height: $table_height + $vertical_buffer + 2 * $default_border_width;
$page_width: $table_width + $combined_match_information_width + 2 * $horizontal_buffer + $action_dashboard_width + 2 * $default_border_width;
