
html, body {
  font-family: Verdana, Helvetica, Arial;
  font-size: $default_primary_font_size;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border-radius: $default_border_radius;
}

a img {
  border: none;
}

form {
   label {
      @include default_list_element_formatting;
   }
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
   li {
      @include default_list_element_formatting; 
   }
}

.hidden {
   @include no_size;
}
