$app_background: image-url('gray_texture.svg');

html, body {
  background: $app_background;
}

#container {
   background: $app_background;
}

.information_container {
   @include soft_edges($default_border_color);
   @include button;
   @include container_formatting;
   
   margin: 0;
   color: $default_primary_text_color;
}
