$app_background: image-url('chip_background.grayed.png');

html, body {
  /*background: $app_background;*/
}

#container {
   $container_height: 1080px;
   $container_width: 1920px;

   background-image: $app_background;
   background-repeat: no-repeat;
   background-size: $container_width $container_height;
   background-position: center;
   
   height: $container_height;
   width: $container_width;
   
   word-wrap: break-word;
}

.information_container {
   @include soft_edges($default_border_color);
   @include button;
   @include container_formatting;
   
   margin: 0;
   color: $default_primary_text_color;
}
