
#new_match_form {
   $height: 280px;
   height: $height;
   $width: 500px;
   width: $width;
   
   @include container_formatting;
   @include soft_edges($default_border_color);
   
   @extend .off_table_container;
}
