@import 'sassy-buttons';
@import 'compass/css3/images';
@import "compass/utilities/color/contrast";
@import "compass/typography/lists/horizontal-list";

$no_buffer: 0 0 0 0;
.information_container {
   margin: $no_buffer;
}

ul {
   list-style: none;
   padding: $no_buffer;
   margin: $no_buffer;
}

$list_element_padding: 3px;

li {
   padding: $list_element_padding;
   word-wrap: break-word;
}

$border_width: 5px;

@mixin test_border($color) {
   border: $border_width $color solid;
}

@mixin shiny($background_color, $text_color) {
   @include background-image(linear-gradient(scale-lightness($background_color, 25), $background_color));
   color: $text_color;
}

$background_color: #000;
$text_color: contrast-color($background_color);

@mixin container_formatting {
   $background_color: #000;
   $text_color: contrast-color($background_color);
   @include shiny($background_color, $text_color);
}

$vertical_buffer: 10px;
$horizontal_buffer: $vertical_buffer;

$player_information_height: 240px;
$player_information_width: 350px;

$community_information_height: $player_information_height * 1.5;
$community_information_width: $player_information_width;

$page_height: 2 * $player_information_height + $community_information_height + 2 * $vertical_buffer + 6 * $border_width;

$match_information_height: 400px;
$match_information_width: 300px;

$action_dashboard_height: 200px;
$action_dashboard_width: 200px;

$page_width: $match_information_width + 2 * $horizontal_buffer + $player_information_width + $action_dashboard_width + 6 * $border_width;

#container {
   height: $page_height;
   width: $page_width;
   padding: $no_buffer;
}

.information_container {
}

.player_information {
   height: $player_information_height;
   width: $player_information_width;
   
   margin-top: 0;
   margin-bottom: 0;
   margin-left: $horizontal_buffer;
   margin-right: $horizontal_buffer;
   
   @include container_formatting;
}

#users_information {
   margin-top: $vertical_buffer;
   margin-bottom: 0;
   position: absolute;
   top: $page_height - ($player_information_height + $vertical_buffer + 2 * $border_width);
   left: $match_information_width + 2 * $border_width;
}

/* @todo Want this to be either a box in which information_about_an_opponent list elements can be centered, or a centered expandable box. Not sure how to do either.*/
#information_about_opponents {
   margin-top: 0;
   margin-bottom: $vertical_buffer;
   
   position: absolute;
   left: $match_information_width + 2 * $border_width;
   
   display: inline;
}

#information_about_an_opponent {   
   display: block;
}

#community_information {   
   height: $community_information_height;
   width: $community_information_width;
   
   margin-top: $vertical_buffer;
   margin-bottom: $vertical_buffer;
   margin-left: $horizontal_buffer;
   margin-right: $horizontal_buffer;
   
   position: absolute;
   top: $player_information_height + 2 * $border_width;
   left: $match_information_width + 2 * $border_width;
   
   @include container_formatting;
}

#match_information {
   width: $match_information_width;
   height: $match_information_height;
   
   position: absolute;
   top: $page_height - ($match_information_height + 2 * $border_width);
   
   margin: $no_buffer;
   
   @include container_formatting;
}

#action_dashboard {   
   @include container_formatting;
   
   .action input {
      @include sassy-button('shiny', 5px, 15px, $background_color, $background_color, $text_color);
   }
   
   width: $action_dashboard_width;
   height: $action_dashboard_height;
   
   margin-left: $horizontal_buffer;
   
   position: absolute;
   left: $match_information_width + $player_information_width + 6 * $border_width;
   top: $page_height - ($action_dashboard_height + 2 * $border_width);
}

ul.cards {
   @include horizontal-list(false);
   margin: 0;
}

$card_height: 300px;
$card_width: 200px;

@mixin set_image_size($height, $width) {
   img {
      height: $height;
      width: $width;
   }   
}


.card {
   $horizontal_margin: -180px;
   padding: -100px;
   margin: {
      top: -100px;
      left: $horizontal_margin;
      right: $horizontal_margin;
      bottom: -100px;
   }
   
   position: relative;
   left: -65px;
   
   @include set_image_size($card_height, $card_width);
}

$button_diameter: $card_width/5;

ul.buttons {
   @include horizontal-list(false);
   float: right;
   $button_buffer: 10px;
   $button_list_height: $button_diameter + $button_buffer;
   $button_list_width: $button_list_height * 2;
   height: $button_list_height;
   width: $button_list_width;
   margin: 0;
   padding: 0;
}

.button {
   @include set_image_size($button_diameter, $button_diameter);
}

#acting_player {
   border-style: solid;
   border-color: #ff0;
   border-width: thick;
}
