/*@import 'compass/css3/images';*/
/*@import "compass/utilities/color/contrast";*/
@import "compass/typography/lists/horizontal-list";

$container_background_color: #003300;

#table {
   margin: 0;
   padding: 0;
  
   position: absolute;
   top: $vertical_buffer;
   left: $combined_match_information_width + $horizontal_buffer;
   background-color: $container_background_color;
   border-radius: $default_border_radius;

   height: $table_height;
   width: $table_width;
  
   @include soft_edges(mix($container_background_color, $app_background_color));
   border-radius: 500px 500px 500px 500px;
}

.off_table_container {
   background-color: $app_background_color;
   @extend .information_container;
}

.on_table_container {
   @extend .information_container;   
}

.player_information {
   height: $player_information_height;
   width: $player_information_width;
   
   padding: 0;
   
   @extend .on_table_container;
}

$users_information_left: $combined_match_information_width + $horizontal_buffer;

#users_information {
   @include align_center($combined_player_information_width, $table_width);
   
   top: $table_height - $combined_player_information_height;
}

/* @todo Want this to be either a box in which information_about_an_opponent list elements can be centered, or a centered expandable box. Not sure how to do either.*/
#information_about_opponents {   
   @include align_center($combined_player_information_width, $table_width);
   
   display: inline;
}

#information_about_an_opponent {   
   display: block;
   margin: 0;
}

#community_information {   
   height: $community_information_height;
   width: $community_information_width;
   
   @include align_center($combined_community_information_width, $table_width);
   top: $combined_player_information_height + $vertical_buffer;
   
   @extend .on_table_container;
}

#match_information {
   width: $match_information_width;
   height: $match_information_height;
   
   position: absolute;
   top: $page_height - $combined_match_information_height;
   /*@todo Put in player action mixin since everthing has to be shifted right now.*/
   
   @extend .off_table_container;
}

#action_dashboard {      
   width: $action_dashboard_width;
   height: $action_dashboard_height;
   
   position: absolute;
   left: $combined_match_information_width + 2 * $horizontal_buffer + $table_width;
   top: $page_height - $combined_action_dashboard_height;
   
   @extend .off_table_container;
}

ul.cards {
   @include horizontal-list(false);
   margin: 0;
}

.card {
   $horizontal_margin: -180px;
   padding: -100px;
   margin: {
      top: -100px;
      left: $horizontal_margin;
      right: $horizontal_margin;
      bottom: -100px;
   }
   
   position: relative;
   left: -65px;
   
   @include set_image_size($card_height, $card_width);
}

ul.match_buttons {
   @include horizontal-list(false);
   float: right;
   $button_buffer: 10px;
   $button_list_height: $button_diameter + $button_buffer;
   $button_list_width: $button_list_height * 2;
   height: $button_list_height;
   width: $button_list_width;
   margin: 0;
   padding: 0;
}

.match_button {
   @include set_image_size($button_diameter, $button_diameter);
}

#acting_player {
   @include soft_edges(#ff0);
   
   position: absolute;
   top: 0;
   left: 0;
   
   height: $player_information_height - 2 * $default_container_padding;
   width: $player_information_width - 2 * $default_container_padding;
   
   padding: $default_container_padding;
}

#not_acting_player {
   padding: $default_container_padding;
}

ul.actions {
}

li.action {
   margin: 0;
   padding: 0;
}

#new_match_form {   
   @extend .information_container;
}
