/*@import 'compass/css3/images';*/
/*@import "compass/utilities/color/contrast";*/
@import "compass/typography/lists/horizontal-list";

.off_table_container {
   background-color: $app_background_color;
   @extend .information_container;
}

.on_table_container {
   @extend .information_container;
   border-color: transparent;
}

@mixin set_card_margin($right:$correction_for_horizontal_card_margin, $top:$correction_for_vertical_card_margin, $bottom:$correction_for_vertical_card_margin) {
   margin: {
      top: $top;
      bottom: $bottom;
      right: 2 * $right;
   }
}

.card {
   @include set_card_margin();
   position: relative;
   left: $correction_for_horizontal_card_margin;
   
   @include set_image_size($card_height, $card_width);
}

.cards {
   @include horizontal-list(false);
   
   height: $bare_card_image_height;
   
   margin: 0;
   li {
      margin-right: $card_margin;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
   }
}

.player_information {
   @extend .on_table_container;
   
   height: $player_information_height;
   width: $player_information_width;
   
   padding: 0;
   
   ul {
      display: inline;
      list-style-type: none;
      position: relative;
   }
   
   .hole_cards {
     @extend .cards;
     width: $hole_cards_width;
   }
   
   .match_buttons {
      @include horizontal-list(false);
      float: right;
      height: $button_list_height;
      width: $button_list_width;
      margin: 0;
      padding: 0;
      
      li {
         margin-right: $button_buffer;
      }

      .match_button {
         img {
               @include set_image_size($button_diameter, $button_diameter);
         }
      }
   }
}

$container_background_color: #003300;

#table {
   margin: 0;
   padding: 0;
  
   position: absolute;
   top: $vertical_buffer;
   left: $combined_match_information_width + $horizontal_buffer;
   background-color: $container_background_color;
   border-radius: $default_border_radius;

   height: $table_height;
   width: $table_width;
  
   @include soft_edges(mix($container_background_color, $app_background_color));
   border-radius: 500px 500px 500px 500px;
   
   $users_information_left: $combined_match_information_width + $horizontal_buffer;

   #users_information {
      @include align_center($combined_player_information_width, $table_width);   
      top: $table_height - $combined_player_information_height;
   }
   
   /* @todo Want this to be either a box in which information_about_an_opponent list elements can be centered, or a centered expandable box. Not sure how to do either.*/
   #information_about_opponents {   
      @include align_center($combined_player_information_width, $table_width);      
      display: inline;
   }

   #information_about_an_opponent {   
      display: block;
      margin: 0;
   }
   
   #acting_player {
      @extend .player_information;
      @include soft_edges(#ff0);
   
      position: absolute;
      top: 0;
      left: 0;
   
      height: $player_information_height;
      width: $player_information_width;
   }

   #not_acting_player {
      @extend .player_information;
   }

   #community_information {
      @extend .on_table_container;
      @include horizontal-list(false);
      
      ul {
         display: inline;
         list-style-type: none;
      }
      
      height: $community_information_height;
      width: $community_information_width;
      
      @include align_center($combined_community_information_width, $table_width);
      top: $combined_player_information_height + $vertical_buffer;
      
      #pot {
         height: $pot_height;
         width: $pot_width;
      }
      
      .board_cards {
         @extend .cards;   
         width: $board_cards_width;
      }
      
      #summary_information {
         @extend .on_table_container;
         
         border: 0;
         
         height: $summary_information_height;
         width: $summary_information_width;
         float: right;
      }
   }
}

#match_information {
   width: $match_information_width;
   height: $match_information_height;
   
   position: absolute;
   top: $page_height - $combined_match_information_height;
   /*@todo Put in player action mixin since everthing has to be shifted right now.*/
   
   @extend .off_table_container;
}

#action_dashboard {      
   @extend .off_table_container;
   
   width: $action_dashboard_width;
   height: $action_dashboard_height;
   
   position: absolute;
   left: $combined_match_information_width + 2 * $horizontal_buffer + $table_width;
   top: $page_height - $combined_action_dashboard_height;
      
   .actions {
     li.action {
        margin: 0;
        padding: 0;
     }
   }
}

