
@import '../poker_table/poker_table_defs';
@import '../action_dashboard/action_dashboard_defs';

/*.poker_table*/
$poker_table_top: 0;
$poker_table_left: 0;
$poker_table_bottom: $poker_table_top + $poker_table_combined_height;
$poker_table_right: $poker_table_left + $poker_table_combined_width;

$game_interface_limit_height: $poker_table_bottom +
   $action_dashboard_limit_combined_height;
$game_interface_no_limit_height: $poker_table_bottom +
   $action_dashboard_no_limit_combined_height;
$game_interface_width: max($poker_table_right, $action_dashboard_combined_width);
