:javascript
  // Must come before change in focus code and as late into loading the page as possible
  // to make sure the window fits exactly as expected.
  alert('adjusting scale');
  GameInterface.adjustScale();

.game_interface
  = render partial: poker_table_partial('index')

  = render partial: poker_controls_partial('wire_actions')

  - unless spectating?
    = render partial: poker_controls_partial('index'), locals: {is_no_limit: match_view.no_limit?}