!!!
%html
  %head
    %title= ApplicationHelper::APP_NAME
    %meta{:content => 'width=device-width', :'initial-scale' => 1.0, :'maximum-scale' => 1.0, :'user-scalable' => 'no', :name => 'viewport'}
    %script{src: "/assets/bundle.js", type: "text/javascript"}
    = csrf_meta_tag
    %link{href: "/favicon.ico", rel: "shortcut icon", type: "image/vnd.microsoft.icon"}
    = yield(:head)
    :javascript
      $(document).ready(function(){
        rt = new WindowManager();
        WindowManager.loadComplete();
      });
  %body
    .container
      .banner-container
      %div{class: ApplicationHelper::APP_VIEW_HTML_CLASS}
        = yield
